body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.profile-header {
    background-color: #e89090;
    height: 125px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pic-container {
    position: absolute;
    bottom: -50px;
    border-radius: 50%;
    border: 5px solid #fff;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.icons-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;

}
.fav{
    display: inline-block;
    font: normal normal normal 14px / 1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 10px;
}

.icon {
    font-size: 24px;
    margin: 50px;
    background-color: #F8BBD0;
    border-radius: 50%;
    padding: 10px;
}
.pname{
    justify-content: center;
    text-align: center;
    margin-top: 50px ;
}
.media-section {
    margin: 20px auto;
    width: 80%;
    text-align: center;
}

.media-section h2 {
    text-align: left;
}

.media-gallery {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.media-gallery img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.empty-media {
    width: 100px;
    height: 100px;
    background-color: #E0E0E0;
    border-radius: 10px;
}

.view-all {
    display: inline-block;
    margin-top: 10px;
    color: #d23232;
    text-decoration: none;
    font-weight: bold;
}
.msgcontinr{
    background-color: #ffffff;
    height: auto;
    width: 96%;
    padding: 20px;
    border-radius: 15px;
    margin-top: 30px;
}
.dash h2 a{
    text-decoration: none;
    color: black;
}